.megoldás {
    visibility:hidden;
}

.találgató {
    height: 15px;
    width: 15px;
    border: solid black 3px;
    margin-top: 20px;
}

body {
    background-color: grey;
    display: flex;
}

.jó {
    border: black solid 3px;
    height: 15px;
    width: 15px;
}

#semmi {
    background-color: black;
}